%ul
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'text'}
      %img{:src => "#{asset_path('fields/text2.png')}", :alt=> "text field", :rel=>"tipsy", :title=>"Text field"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'number'}
      %img{:src => "#{asset_path('fields/number2.png')}", :alt=> "numeric field", :rel=>"tipsy", :title=>"Numeric field"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'textarea'}
      %img{:src => "#{asset_path('fields/textarea2.png')}", :alt=> "text area", :rel=>"tipsy", :title=>"Text area"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'checkbox'}
      %img{:src => "#{asset_path('fields/checkbox2.png')}", :alt=> "checkbox", :rel=>"tipsy", :title=>"Checkbox"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'radio'}
      %img{:src => "#{asset_path('fields/radio2.png')}", :alt=> "multiple choice", :rel=>"tipsy", :title=>"Multiple choice"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'select'}
      %img{:src => "#{asset_path('fields/select2.png')}", :alt=> "drop down", :rel=>"tipsy", :title=>"Drop down"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'name'}
      %img{:src => "#{asset_path('fields/name2.png')}", :alt=> "name", :rel=>"tipsy", :title=>"Name"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'date'}
      %img{:src => "#{asset_path('fields/date2.png')}", :alt=> "date", :rel=>"tipsy", :title=>"Date"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'file'}
      %img{:src => "#{asset_path('fields/file2.png')}", :alt=> "file", :rel=>"tipsy", :title=>"File"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'address'}
      %img{:src => "#{asset_path('fields/address2.png')}", :alt=> "address", :rel=>"tipsy", :title=>"Address"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'email'}
      %img{:src => "#{asset_path('fields/email2.png')}", :alt=> "email", :rel=>"tipsy", :title=>"Email"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'time'}
      %img{:src => "#{asset_path('fields/time2.png')}", :alt=> "time", :rel=>"tipsy", :title=>"Time"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'website'}
      %img{:src => "#{asset_path('fields/website2.png')}", :alt=> "website", :rel=>"tipsy", :title=>"Website"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'phone'}
      %img{:src => "#{asset_path('fields/phone2.png')}", :alt=> "phone", :rel=>"tipsy", :title=>"Phone"}
  %li
    %span.wp_cmd{"data-cmd" => 'insertField', "data-cmd-value" => 'signature'}
      %img{:src => "#{asset_path('fields/signature2.png')}", :alt=> "signature", :rel=>"tipsy", :title=>"Signature"}